$primary-color: #fff;
$secondary-color: aqua;

@mixin font-scss {
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 3px;
}

.portfolioContainer {
    margin-top: 4%;
    @include font-scss;
    color: $primary-color;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.022), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 3%;
    border-radius: 5px;
    width: 97%;

    .portfolioHeading {
        font-size: calc(45px - 1vw);
        color: $secondary-color;
        display: flex;
        align-items: center;
        //justify-content: center;
        position: relative;
    }

    .portfolioParagraph {
        width: 97%;
        margin: 2% auto;
        text-align: left;
        line-height: 2rem;

        a {
            margin-left: -10px;
        }

    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        // animation: bgChange 3s infinite alternate linear;


        img {
            height: 60px;
            width: 60px;
            object-fit: contain;
            margin: 2%;
            flex-grow: 5;
            flex-basis: 500;
            filter: saturate(0) contrast(15%);
            cursor: url('/img/stars.png'), auto;
        }

        img:hover {
            transform: scale(1.2);
            transition: .5s ease-in-out;
            filter: saturate(1) contrast(100%);
        }
    }

    .Experience {
        margin-top: 5%;
    }

    .contactTitle,
    .linkSocials,
    h4 {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: $secondary-color;
        list-style: none;
        // display: inline-flex;
        margin-top: 1%;
        font-family: Lato;
        font-weight: 300;
        letter-spacing: 3px;
        margin-left: -15px;
        padding: 0 3.3%;
    }

    ::-webkit-scrollbar {
        width: 5px !important;
        background: linear-gradient(135deg, rgba(78, 31, 103, 0.1), rgba(54, 4, 116, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 15px;
        background-color: #1b2735;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8d6b97fa;
        border-radius: 10px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }

    div.scroll-container {
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        display: flex;
        //background: linear-gradient(135deg, rgba(78, 31, 103, 0.1), rgba(54, 4, 116, 0));
        //-webkit-backdrop-filter: blur(5px);
        //backdrop-filter: blur(10px);
        //box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        scroll-behavior: smooth;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            cursor: pointer;
            position: relative;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: min(100%, 100vw);

            .image {
                opacity: 1;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
                border-radius: 30px;
                box-shadow: 0 3px 12px 0 rgba(0, 255, 255, 0.3);
                width: min(250%, 510px);
                border: 1px solid #ffffff39;
            }

            .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.5);
                border: 1px solid aqua;
                color: white;
                padding: 16px;
                border-radius: 10px;
            }
        }

        .container:hover .image {
            opacity: 0.3;
            transform: perspective(800px) rotateY(-5deg) rotateX(-5deg);
        }

        .container:hover .middle {
            opacity: 1;
            width: fit-content;
            height: fit-content;
            object-fit: contain;
        }

        a {
            font-size: calc(37px - 1vw);
            color: $secondary-color;
            text-decoration: none;
        }
    }

    // portfolio heading
    .heading {
        width: 100%;
        height: 100%;
    }

    .heading text {
        animation: headingLines 6s infinite alternate;
        stroke-width: 1;
        stroke: $secondary-color;
        font-size: 80px;
        text-anchor:middle;
    }

    @keyframes headingLines {
        0% {
            fill: rgba(0, 0, 0, 0);
            stroke: $secondary-color;
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 20%;
            stroke-width: 1;
        }

        70% {
            fill: rgba(0, 0, 0, 0);
            stroke: $secondary-color;
        }

        80% {
            fill: rgba(0, 0, 0, 0);
            stroke: $secondary-color;
            stroke-width: 2;
        }

        100% {
            fill: $primary-color;
            stroke: rgba(0, 0, 0, 0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }

    .gallery {
        margin-bottom: 3%;
    }

    .experienceInContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .experienceIn {
        position: relative;
        font-size: 20px;
        color: $primary-color;
        z-index: 1;
        text-align: left;
        @include font-scss;
    }

    .experienceIn:before,
    .experienceIn:after {
        display: flex;
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        justify-content: center;
        align-items: center;
    }

    .experienceIn:before {
        animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
        color: $secondary-color;
        z-index: -1;
    }

    .experienceIn:after {
        animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
        color: #ff1dff;
        z-index: -2;
    }

    @keyframes glitch {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translate(-2px, 2px);
        }

        40% {
            transform: translate(-2px, -2px);
        }

        60% {
            transform: translate(2px, 2px);
        }

        80% {
            transform: translate(2px, -2px);
        }

        to {
            transform: translate(0);
        }
    }
}

@keyframes bgChange {
    0% {
        background: rgba(79, 172, 247, 0.1);
    }

    100% {
        background: rgba(102, 0, 255, 0.095);
    }
}

