.aboutContainer {
   display: flex;
   width: 85vw;
   position: relative;
   margin: auto;
   justify-content: center;
   padding: 2%;
   //animation: fadeInLeft 1s linear;
   margin-top:8%;

   .introContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      color: #fff;
      font-family: Lato;
      font-weight: 300;
      letter-spacing: 10px;
      width: min(100%, 499.9px);

      .title {
         font-size: 45px;
         font-weight: 300;
         animation: fadeInTop 1s linear;
         margin: auto;
      }

      .words {
         color: aqua;
         font-weight: bold;
         animation: fade-in 3s infinite;
      }

      .intro {
         color: #fff;
         font-family: Lato;
         font-weight: 300;
         font-size: 19px;
         letter-spacing: 3.1785px;
         text-align: left;
         padding: 2%;
         font-style: italic;
         line-height: 2;
         animation: fadeInLeft 1s linear;
         margin-left: 2%;
      }
   }

   .info {
      letter-spacing: 2px;
      line-height: 0.8;
      font-size: 15px;
   }

   .me {
      width: 140px;
      height: 140px;
      object-fit: fill;
      transform: rotate(-10deg);
      z-index: 10000;
      border: 1px solid rgba(255, 255, 255, 0.673);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 50px 15px #706f6fc1;
      //animation: movingMoonMe 2s linear;
      //animation: scale infinite 3s linear;
      animation: opacityOnce 1s linear;

   }

   .coderContainer {
      width: fit-content;
      // animation: fadeInRight 1s linear;

      .coder {
         display: flex;
         width: min(100%, 550px);
         height: min(100%, 550px);
         margin-top: 2%;
         margin-left: auto;
         margin-right: 10%;
         box-shadow: 0 -10px 0 -5px #1b2735,
            10px 0 0 -5px #1b2735,
            0 10px 0 -5px #1b2735,
            -10px 0 0 -5px #1b2735;
         transform: perspective(800px) rotateY(-15deg);
         animation: opacity infinite 4s linear;
         background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
         -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);
         border: 1px solid rgba(255, 255, 255, 0.2);
         box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      }
   }

}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-40px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}


@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(60px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeInTop {
   0% {
      opacity: 0;
      transform: translateY(-40px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes movingMoonMe {
   0% {
      opacity: 0;
      transform: translate(900px, -300px);
   }

   50% {
      transform: translate(300px, -100px);

   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}


@keyframes scale {
   0% {
      transform: scale(0.8);

   }

   50% {
      transform: scale(0.85);

   }

   100% {
      transform: scale(0.8);

   }
}

@keyframes opacity {
   0% {
      opacity: 0.5;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0.5;
   }
}

@keyframes opacityOnce {
   0% {
      opacity: 0.2;
   }

   100% {
      opacity: 1;
   }
}

@media (width < 900px) {
   .aboutContainer {
      margin-top:14%;
  

      .me {
         height: 120px;
         width:120px;
      }
   }
}

@keyframes fade-in {
   0% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   100% {
      opacity: 0;
   }
 }